<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
    {{> header}}

    {{!-- Para usar el helper con parametros se coloca el nombre del helper y despues de un espacio los parametros --}}
    {{!-- En este caso vamos a pasar el mensaje de bienvenida, pero podriamos pasar el parametro tecleandolo --}}
    <p>{{screamIt welcomeMessage}}</p>
    
    {{> footer}}
</body>
</html>
