{
    "files.autoSave": "onFocusChange",
    "editor.wordWrap": "on",


    // Shell commands, see default for examples.
    "startanyshell.shells": [
        {
            "description": "Windows Command Prompt",
            "command": "start \"%description%\" /WAIT %comspec%"
        },
        {
            "description": "Git Bash 2",
            "command": "\"C:\\Program Files\\Git\\git-bash.exe\" \"--cd=%path%\""
        },
        {
            "description": "Windows Powershell",
            "command": "start \"%description%\" powershell.exe -noexit"
        },
        {
            "description": "Developer Command Prompt for VS2015",
            "command": "start \"%description%\" /WAIT \"%HOMEDRIVE%\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\Tools\\VsDevCmd.bat\""
        },
        {
            "description": "Cmder",
            "command": "cmder.exe /start \"%path%\""
        }
    ],
    "editor.fontSize": 12,
    "sync.gist": "2b3e19931982498898d75d0a0ecef15ef4a874ed",
    "sync.host": "",
    "sync.pathPrefix": "",
    "sync.quietSync": false,
    "sync.askGistName": false,
    "sync.removeExtensions": true,
    "sync.syncExtensions": true,
    "sync.autoDownload": false,
    "sync.autoUpload": false,
    "sync.lastUpload": "",
    "sync.lastDownload": "",
    "sync.forceDownload": false,
    "http.proxy": "http://pxsis.sunat.peru:8080",
    "workbench.colorTheme": "One Dark Pro Vivid",
    "window.zoomLevel": 0,
    "terminal.integrated.shell.windows": "C:\\Program Files\\Git\\bin\\bash.exe",
    "terminal.integrated.copyOnSelection": true,
    "terminal.integrated.scrollback": 10000
}
